﻿<%inherit file="/base/base.html"/>
<%namespace file="/utils/sidebars.html" name="sidebars" />
<%namespace file="/utils/forms.html" name="forms" />
<%namespace file="/utils/format.html" name="format" />

<%def name="javascripts()" filter="trim">

</%def>


<div id="sidebar">
     ${sidebars.tasks_menu()}
</div>
<div id="mainbar">
    <h1>Add Case Details</h1>

    ${case_special_text}

     % if not is_requester:
        <form method="post" action="${urls.build('case.add', dict())|h}">
     % else:
        <form method="post" action="${urls.build('case.add', dict(type='requester'))|h}">
        % if email_alert_flag:
            <p>Note: Case managers will get an automatic alert that this case has been created as well as the authoriser you have chosen to authorise/reject this case.</p>
        % else:
            <p>Note: The authoriser you have chosen will get an automatic email to authorise/reject this case.</p>
        % endif
     % endif
        % if not is_requester:
            ${forms.formTextField("Case Name", "case_name", "case_name", "form_label", "input_long", first=True, value=next_case_name)}
            ${forms.formTextField("Case Files Location", "location", "location", "form_label", "input_long", value=case_loc)}
        % endif
        ${forms.formTextArea("Case Background", "background", "background", "form_label", "addeditcase" )}
        ${forms.formTextArea("Case Justification", "justification", "justification", "form_label", "addeditcase_short")}
        ${forms.formSelectBox("Authoriser", "authoriser", "authoriser", "form_label", "input_long", authorisers, please_select=True)}
        ${forms.formTextField("Reference", "reference", "reference", "form_label", "input_long", required=False)}
        ${forms.formSelectBox("Classification", "classification", "classification", "form_label", "input_long", classifications, please_select=True)}
        ${forms.formSelectBox("Priority", "priority", "priority", "form_label", "input_long", priorities, please_select=True)}
        ${forms.formTextField("Deadline", "deadline", "deadline", "form_label", "input_long", required=False, default="dd/mm/yyyy")}
        ${forms.formSelectBox("Case Type", "case_type", "case_type", "form_label", "input_long", case_types, please_select=True)}
        ${forms.formCheckBoxes("Private", "private", "private", "private", "form_label", "radio_input_short")}

     <div style="clear:both"></div>

     % if not is_requester:
     <h1>Add Case Managers</h1>
        <p>You will automatically be added as the primary case manager.</p>
        <input type="hidden" name="primary_case_manager" id="primary_case_manager" value="${current_user.id|h}" />
        ${forms.formSelectBox("Secondary Case Manager", "secondary_case_manager", "secondary_case_manager", "form_label", "input_long", managers, please_select=True, required=False, first=True)}
     % endif

        <p style="clear:both; text-align:center"><input type="submit" value="Submit" /></p>
    </form>
</div>