﻿<%inherit file="/base/base.html"/>
<%namespace file="/utils/sidebars.html" name="sidebars" />
<%namespace file="/utils/forms.html" name="forms" />
<%namespace file="/utils/format.html" name="format" />

<%def name="javascripts()" filter="trim">

    <link rel="StyleSheet" href="${urls.build('css', dict(file='jquery-ui-1.10.4.custom.css'))|h}" type="text/css" />
    <script src="${urls.build('javascript', dict(file='jquery-1.10.2.js'))|h}"></script>
    <script src="${urls.build('javascript', dict(file='jquery-ui-1.10.4.custom.min.js'))|h}"></script>

    <script src="${urls.build('javascript', dict(file='spectrum.js'))|h}"></script>
    <link rel='stylesheet' href="${urls.build('css', dict(file='spectrum.css'))|h}" />
    <script>
        $(function() {

            $("#colour").spectrum({
                preferredFormat: "hex",
                showPaletteOnly: true,
                showPalette:true,
                color: 'green',
                palette: [
                    ['AliceBlue', 'AntiqueWhite', 'Aqua', 'Aquamarine', 'Azure', 'Beige', 'Bisque', 'Black',
                        'BlanchedAlmond', 'Blue', 'BlueViolet', 'Brown', 'BurlyWood', 'CadetBlue', 'Chartreuse',
                        'Chocolate', 'Coral', 'CornflowerBlue', 'Cornsilk', 'Crimson', 'Cyan', 'DarkBlue', 'DarkCyan',
                        'DarkGoldenRod', 'DarkGray', 'DarkGreen', 'DarkKhaki', 'DarkMagenta', 'DarkOliveGreen',
                        'DarkOrange', 'DarkOrchid', 'DarkRed', 'DarkSalmon', 'DarkSeaGreen', 'DarkSlateBlue',
                        'DarkSlateGray', 'DarkTurquoise', 'DarkViolet', 'DeepPink', 'DeepSkyBlue', 'DimGray',
                        'DodgerBlue', 'FireBrick', 'FloralWhite', 'ForestGreen', 'Fuchsia', 'Gainsboro', 'GhostWhite',
                        'Gold', 'GoldenRod', 'Gray', 'Green', 'GreenYellow', 'HoneyDew', 'HotPink', 'IndianRed ',
                        'Indigo ', 'Ivory', 'Khaki', 'Lavender', 'LavenderBlush', 'LawnGreen', 'LemonChiffon',
                        'LightBlue', 'LightCoral', 'LightCyan', 'LightGoldenRodYellow', 'LightGray', 'LightGreen',
                        'LightPink', 'LightSalmon', 'LightSeaGreen', 'LightSkyBlue', 'LightSlateGray', 'LightSteelBlue',
                        'LightYellow', 'Lime', 'LimeGreen', 'Linen', 'Magenta', 'Maroon', 'MediumAquaMarine', 'MediumBlue',
                        'MediumOrchid', 'MediumPurple', 'MediumSeaGreen', 'MediumSlateBlue', 'MediumSpringGreen',
                        'MediumTurquoise', 'MediumVioletRed', 'MidnightBlue', 'MintCream', 'MistyRose', 'Moccasin',
                        'NavajoWhite', 'Navy', 'OldLace', 'Olive', 'OliveDrab', 'Orange', 'OrangeRed', 'Orchid',
                        'PaleGoldenRod', 'PaleGreen', 'PaleTurquoise', 'PaleVioletRed', 'PapayaWhip', 'PeachPuff',
                        'Peru', 'Pink', 'Plum', 'PowderBlue', 'Purple', 'RebeccaPurple', 'Red', 'RosyBrown', 'RoyalBlue',
                        'SaddleBrown', 'Salmon', 'SandyBrown', 'SeaGreen', 'SeaShell', 'Sienna', 'Silver', 'SkyBlue',
                        'SlateBlue', 'SlateGray', 'Snow', 'SpringGreen', 'SteelBlue', 'Tan', 'Teal', 'Thistle', 'Tomato',
                        'Turquoise', 'Violet', 'Wheat', 'White', 'WhiteSmoke', 'Yellow', 'YellowGreen']
                ]
            });

            $("#tabs").tabs();
            $("#tabs").tabs({ active: ${active_tab}});

            function slide_file_upload(select_box_selector){
                var select_box = $(select_box_selector);
                if ($(select_box_selector + " option:selected").val() == "FromList"){
                    $(select_box).parents('.form_background').find(select_box_selector + "_uploader").slideDown("slow");
                } else {
                    $(select_box).parents('.form_background').find(select_box_selector + "_uploader").slideUp("slow");
                }
            }

             function slide_retention(select_box_selector){
                var select_box = $(select_box_selector);
                if ($(select_box_selector + " option:selected").val() == "True"){
                    $(select_box).parents('.form_background').find(select_box_selector + "_month_select").slideDown("slow");
                    $(select_box).parents('.form_background').find(select_box_selector + "_remove_exist").slideUp("slow");
                } else {
                    $(select_box).parents('.form_background').find(select_box_selector + "_month_select").slideUp("slow");
                    $(select_box).parents('.form_background').find(select_box_selector + "_remove_exist").slideDown("slow");
                }
            }

            $("#case_names").change(function() {
                slide_file_upload('#case_names');
            });

            $("#task_names").change(function () {
                slide_file_upload('#task_names');
            });

             $("#evi_ret").change(function () {
                slide_retention('#evi_ret');
            });

            slide_file_upload('#case_names');
            slide_file_upload('#task_names');
            slide_retention('#evi_ret');
        });

        function populate_icon(icon){
            document.getElementById("icon_input").value = icon;
            var list = document.getElementsByClassName("img_hover");
            for (var i = 0; i < list.length; i++) {
                list[i].style.border = "None";
            }
            document.getElementById(icon).style.border = "solid black 2px";
            return false;
        }
    </script>

</%def>

<div id="mainbar_noside">
    <h1>Foreman Administration</h1>

    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Options</a></li>
            <li><a href="#tabs-2">Task Options</a></li>
            <li><a href="#tabs-3">Evidence Options</a></li>
            <li><a href="#tabs-4">Case Options</a></li>
            <li><a href="#tabs-5">Notes Export Formatting</a></li>
            <li><a href="#tabs-6">Validate Users
                % if unvalidated_users:
                    <span class="validate">(${len(unvalidated_users)|h})</span>
                % endif
                & Deactivate Users
            </a></li>
            <li><a href="#tabs-7">Case Priorities</a></li>
            <li><a href="#tabs-8">User Options</a></li>
        </ul>

        <div id="tabs-1" class="forensics_work_contents">

            % if len(errors) == 0 and (number_cases > 0 or number_tasks > 0):
                <div class="success">
                <h1>Success!</h1>
                % if len(errors) == 0 and number_cases > 0:
                    <p>Uploaded ${number_cases|h} new case names.</p>
                % endif
                % if len(errors) == 0 and number_tasks > 0:
                    <p>Uploaded ${number_tasks|h} new task names.</p>
                % endif
                </div>
            % endif

            <h1>Options</h1>

            <div class="form_background">
                <h2>Information About Your Team & Foreman Options</h2>
                <form method="post" enctype='multipart/form-data' action="${urls.build('general.admin', dict(form='options', active_tab=0))|h}">
                    ${forms.formTextField("Company Name", "company", "company", "form_label", "input_long", value=options.company, first=True)}
                    ${forms.formTextField("Department Name", "department", "department", "form_label", "input_long", value=options.department)}
                    <p style="clear:both;">When requester's add cases to Foreman, they are not given an option to pick a case name. The options below specify the automatic case & task names that will be assigned. You can change the case & task names as soon as they are created.</p>
                    ${forms.formSelectBox("Automatic Case Name Generation", "case_names", "case_names", "form_label", "input_long", case_name_options, value=options.case_names, first=True)}
                    ${forms.formTextField("Upload Case Names (1 per line)", "upload_case_names", "upload_case_names", "form_label", "input_long", input_type="file", p_id="case_names_uploader")}
                    ${forms.formSelectBox("Automatic Task Name Generation", "task_names", "task_names", "form_label", "input_long", task_name_options, value=options.task_names)}
                    ${forms.formTextField("Upload Task Names (1 per line)", "upload_task_names", "upload_task_names", "form_label", "input_long", input_type="file", p_id="task_names_uploader")}
                    ${forms.formTextField("Default folder location", "folder", "folder", "form_label", "input_long", value=options.default_location)}
                    <p style="clear:both;">For information on the date & time formatting, <a href="http://strftime.org/" target="_blank">please click here</a>.</p>
                    ${forms.formTextField("Date & time display", "datedisplay", "datedisplay", "form_label", "input_long", value=options.date_format)}

                    <p style="clear:both; text-align:center"><input type="submit" value="Submit" /></p>
                </form>
            </div>
            <h1>Teams</h1>
            <p>Teams that users belong to, e.g. administrators, requesters, authorisers, case managers and investigators.
                Note you can only remove departments which have no teams (remove the teams first); and can only remove teams with no users.
                Please remove all members of the team first by editing their profile and changing their team to something else. </p>
            <div class="form_background">
                <h2>Add Department</h2>
                <form method="post" enctype='multipart/form-data' action="${urls.build('general.admin', dict(form='add_department', active_tab=0))|h}">
                    ${forms.formTextField("Department Name", "department_name", "department_name", "form_label", "input_long", first=True)}
                    <p style="clear:both; text-align:center"><input type="submit" value="Add" /></p>
                </form>
            </div>

            % if len(department_options) > 0:
            <div class="form_background">
                <h2>Rename Department</h2>
                <form method="post" enctype='multipart/form-data' action="${urls.build('general.admin', dict(form='rename_department', active_tab=0))|h}">
                    ${forms.formSelectBox("Department", "old_department_name", "old_department_name", "form_label", "input_long", department_options, first=True, please_select=True)}
                    ${forms.formTextField("New Name", "new_dep_name", "new_dep_name", "form_label", "input_long")}
                    <p style="clear:both; text-align:center"><input type="submit" value="Rename" /></p>
                </form>
            </div>
            % endif

            % if len(del_department_options) > 0:
            <div class="form_background">
                <h2>Remove Department</h2>
                <form method="post" enctype='multipart/form-data' action="${urls.build('general.admin', dict(form='remove_department', active_tab=0))|h}">
                    ${forms.formSelectBox("Department", "remove_department_name", "remove_department_name", "form_label", "input_long", del_department_options, first=True, please_select=True)}
                    <p style="clear:both; text-align:center"><input type="submit" value="Remove" /></p>
                </form>
            </div>
            % endif

            <div class="form_background">
                <h2>Add Team</h2>
                <form method="post" enctype='multipart/form-data' action="${urls.build('general.admin', dict(form='add_team', active_tab=0))|h}">
                    ${forms.formSelectBox("Department", "t_department_name", "t_department_name", "form_label", "input_long", department_options, first=True, please_select=True)}
                    ${forms.formTextField("Team Name", "new_team_name", "new_team_name", "form_label", "input_long")}
                    <p style="clear:both; text-align:center"><input type="submit" value="Add" /></p>
                </form>
            </div>

            % if len(team_options) > 0:
            <div class="form_background">
                <h2>Rename Team</h2>
                <form method="post" enctype='multipart/form-data' action="${urls.build('general.admin', dict(form='rename_team', active_tab=0))|h}">
                    ${forms.formSelectBox("Team", "old_team_name", "old_team_name", "form_label", "input_long", team_options, first=True, please_select=True)}
                    ${forms.formTextField("New Name", "rename_team", "rename_name", "form_label", "input_long")}
                    <p style="clear:both; text-align:center"><input type="submit" value="Rename" /></p>
                </form>
            </div>
            % endif

            % if len(del_team_options) > 0:
            <div class="form_background">
                <h2>Remove Team</h2>
                <form method="post" enctype='multipart/form-data' action="${urls.build('general.admin', dict(form='remove_team', active_tab=0))|h}">
                   ${forms.formSelectBox("Team", "team_name", "team_name", "form_label", "input_long", del_team_options, first=True, please_select=True)}
                    <p style="clear:both; text-align:center"><input type="submit" value="Remove" /></p>
                </form>
            </div>
            % endif
        </div>

        <div id="tabs-2" class="forensics_work_contents">
            <h1>Task Email Alerts</h1>
            <div class="form_background">
            <h2>Email alerts</h2>

            <form method="post" action="${urls.build('general.admin', dict(form='email_task', active_tab=1))|h}">
                <p>Email alert:</p>
                ${forms.formCheckBoxes_labelright("All Investigators when a new task is queued", "email_alert_ai_tq", "email_alert_ai_tq", "email_alert_ai_tq", "form_label_right", "radio_input_long", checked=options.email_alert_all_inv_task_queued)}
                ${forms.formCheckBoxes_labelright("Investigators when they are assigned a task", "email_alert_i_at", "email_alert_i_at", "email_alert_i_at", "form_label_right", "radio_input_long", checked=options.email_alert_inv_assigned_task)}
                ${forms.formCheckBoxes_labelright("QAs when they are assigned a task to QA", "email_alert_qa_at", "email_alert_qa_at", "email_alert_qa_at", "form_label_right", "radio_input_long", checked=options.email_alert_qa_assigned_task)}
                ${forms.formCheckBoxes_labelright("Case Manager when an investigator assigns themselves a task for their case", "email_alert_cm_ia", "email_alert_cm_ia", "email_alert_cm_ia", "form_label_right", "radio_input_long", checked=options.email_alert_caseman_inv_self_assigned)}
                ${forms.formCheckBoxes_labelright("Case Manager when an QA assigns themselves a task for their case", "email_alert_cm_qa", "email_alert_cm_qa", "email_alert_cm_qa", "form_label_right", "radio_input_long", checked=options.email_alert_caseman_qa_self_assigned)}
                ${forms.formCheckBoxes_labelright("Case Manager when a task is completed for their case", "email_alert_c_tc", "email_alert_c_tc", "email_alert_c_tc", "form_label_right", "radio_input_long", checked=options.email_alert_case_man_task_completed)}
                ${forms.formCheckBoxes_labelright("Requester when a task is completed for their case", "email_alert_r_tc", "email_alert_r_tc", "email_alert_r_tc", "form_label_right", "radio_input_long", checked=options.email_alert_req_task_completed)}

                <p style="clear:both; text-align:center"><input type="submit" value="Update alerts" /></p>
            </form>
            </div>

            <h1>Task Custom Text</h1>
            <div class="form_background">
            <p>Add some custom text to the top of the add/edit task pages, e.g. specific instructions to the investigators, or links to Wikis and other useful URLs.
                The text must be in HTML and start and end with an open/close paragraph (&lt;p&gt; & &lt;/p&gt;)</p>
             <form method="post" action="${urls.build('general.admin', dict(form='task_special_text', active_tab=1))|h}">
                 ${forms.formTextArea("Custom Text (HTML)", "custom_text_task", "custom_text_task", "form_label", "input_long", value=task_special_text, first=True, required=False)}
                <p style="clear:both; text-align:center"><input type="submit" value="Add Text" /></p>
            </form>
            </div>

            <h1>Task Types</h1>

            <div class="form_background">
            <h2>Move Task Type To Different Category</h2>

            <form method="post" action="${urls.build('general.admin', dict(form='move_task_type', active_tab=1))|h}">
                ${forms.formSelectBox("Task Type", "task_type", "task_type", "form_label", "input_long", task_types, please_select=True, first=True)}
                ${forms.formSelectBox("New Task Category", "task_category", "task_Category", "form_label", "input_long", task_categories, please_select=True)}
                <p style="clear:both; text-align:center"><input type="submit" value="Move" /></p>
            </form>
            </div>

            <div class="form_background">
            <h2>Add New Task Category</h2>

            <form method="post" action="${urls.build('general.admin', dict(form='add_task_category', active_tab=1))|h}">
                 ${forms.formTextField("New Task Category", "new_task_category", "new_task_category", "form_label", "input_long", first=True)}
                <p style="clear:both; text-align:center"><input type="submit" value="Add" /></p>
            </form>
            </div>

            <div class="form_background">
            <h2>Add New Task Type</h2>

            <form method="post" action="${urls.build('general.admin', dict(form='add_task_type', active_tab=1))|h}">
                ${forms.formTextField("New Task Type", "new_task_type", "new_task_type", "form_label", "input_long", first=True)}
                ${forms.formSelectBox("Task Category", "change_task_category", "change_task_Category", "form_label", "input_long", task_categories, please_select=True)}
                <p style="clear:both; text-align:center"><input type="submit" value="Add" /></p>
            </form>
            </div>

            <div class="form_background">
            <h2>Remove Task Category</h2>

            <p>Please note you can only remove Task Categories that are empty, please move all task types from the category into different categories first.</p>

            % if len(empty_categories) > 0:
            <form method="post" action="${urls.build('general.admin', dict(form='remove_task_category', active_tab=1))|h}">
                 ${forms.formSelectBox("Task Category", "remove_task_category", "remove_task_Category", "form_label", "input_long", empty_categories, please_select=True, first=True)}
                <p style="clear:both; text-align:center"><input type="submit" value="Remove" /></p>
            </form>
            % else:
                <p>There are no empty categories.</p>
            % endif
            </div>

            <div class="form_background">
            <h2>Remove Task Type</h2>

            <form method="post" action="${urls.build('general.admin', dict(form='remove_task_type', active_tab=1))|h}">
                 ${forms.formSelectBox("Task Type", "remove_task_type", "remove_task_type", "form_label", "input_long", task_types, please_select=True)}
                <p style="clear:both; text-align:center"><input type="submit" value="Remove" /></p>
            </form>
            </div>

        </div>

        <div id="tabs-3" class="forensics_work_contents">

            <h2>Evidence Retention</h2>

            <div class="form_background">

             <p>If you have a defined evidence retention period, Foreman can automatically send you an email to destroy evidence when that
             retention period comes up. Just select yes for reminders, and add the number of months to wait before the reminder is triggered. The user who added
             the evidence, as well as the current administrator(s) will get the email (in case that user is no longer an active Foreman user) X number of months after
             the date that the evidence was set to 'archived'. Emails will only be sent once, unless the number of months to trigger is changed below. </p>
                <p>Note that currently archived evidence that has been archived longer than X months will have emails triggered when evidence retention is selected.</p>

            <form method="post" action="${urls.build('general.admin', dict(form='evidence_retention', active_tab=2))|h}">
                ${forms.formSelectBox("Evidence Retention Reminders", "evi_ret", "evi_ret", "form_label", "input_long", evi_retention_options, please_select=True, first=True, value=options.evidence_retention)}
                ${forms.formTextField("Evidence Retention Period (months)", "evi_ret_months", "evi_ret_months", "form_label", "input_long", p_id="evi_ret_month_select", value=options.evidence_retention_period)}
                ${forms.formCheckBoxes("Remove existing reminders", "remove_evi_ret", "remove_evi_ret", "remove_evi_ret", "form_label", "radio_input_short", p_id="evi_ret_remove_exist")}


                <p style="clear:both; text-align:center"><input type="submit" value="Update Reminders" /></p>
            </form>
            </div>

            <h1>Evidence Custom Text</h1>
            <div class="form_background">
            <p>Add some custom text to the top of the add/edit evidence pages, e.g. specific instructions to the investigators, or links to Wikis and other useful URLs.
                The text must be in HTML and start and end with an open/close paragraph (&lt;p&gt; & &lt;/p&gt;)</p>
             <form method="post" action="${urls.build('general.admin', dict(form='evidence_special_text', active_tab=2))|h}">
                 ${forms.formTextArea("Custom Text (HTML)", "custom_text_evi", "custom_text_evi", "form_label", "input_long", value=evidence_special_text, first=True, required=False)}
                <p style="clear:both; text-align:center"><input type="submit" value="Add Text" /></p>
            </form>
            </div>

            <h2>Current Evidence Types</h2>

            % for evi in evidence_types:
            <div class="evidence">
                <img alt="${evi|h} icon" src="${urls.build("images", dict(file='siteimages/evidence_icons/' + evi.replace(" ", "").lower() + '.png'))|h}" class="evidenceicon"/>
                ${evi|h}
            </div>
            % endfor

            <div style="clear:both"></div>

            <div class="form_background">
            <h2>Remove Evidence Type</h2>

            <form method="post" action="${urls.build('general.admin', dict(form='remove_evidence_types', active_tab=2))|h}">
                 ${forms.formSelectBox("Evidence Type", "evi_type", "evi_type", "form_label", "input_long", evi_types, please_select=True)}
                <p style="clear:both; text-align:center"><input type="submit" value="Remove" /></p>
            </form>
            </div>

            <div class="form_background">
            <h2>Add New Evidence Type</h2>

            <form method="post" action="${urls.build('general.admin', dict(form='add_evidence_types', active_tab=2))|h}">
                ${forms.formTextField("New Evidence Type", "evi_type_new", "evi_type_new", "form_label", "input_long", first=True)}
                ${forms.pickImageField("Pick an Icon", "icon_input", "icon_input", "form_label", "icon_input", icons, "populate_icon", "img_hover")}
                <p style="clear:both; text-align:center"><input type="submit" value="Add" /></p>
            </form>
            </div>
        </div>

        <div id="tabs-4" class="forensics_work_contents">

            <h1>Case Email Alerts</h1>
            <div class="form_background">
            <h2>Email alerts</h2>

            <form method="post" action="${urls.build('general.admin', dict(form='email_case', active_tab=3))|h}">
                <p>Email alert:</p>
                ${forms.formCheckBoxes_labelright("All case managers when a new case is created and pending authorisation", "email_alert_allcm_nc", "email_alert_allcm_nc", "email_alert_allcm_nc", "form_label_right", "radio_input_long", checked=options.email_alert_all_caseman_new_case)}
                ${forms.formCheckBoxes_labelright("All case managers when a new case is authorised", "email_alert_allcm_au", "email_alert_allcm_au", "email_alert_allcm_au", "form_label_right", "radio_input_long", checked=options.email_alert_all_caseman_case_auth)}
                ${forms.formCheckBoxes_labelright("Requester when their case has been assigned a case manager", "email_alert_r_cm", "email_alert_r_cm", "email_alert_r_cm", "form_label_right", "radio_input_long", checked=options.email_alert_req_case_caseman_assigned)}
                ${forms.formCheckBoxes_labelright("Requester when their case is opened", "email_alert_r_o", "email_alert_r_o", "email_alert_r_o", "form_label_right", "radio_input_long", checked=options.email_alert_req_case_opened)}
                ${forms.formCheckBoxes_labelright("Requester when their case is closed", "email_alert_r_c", "email_alert_r_c", "email_alert_r_c", "form_label_right", "radio_input_long", checked=options.email_alert_req_case_closed)}
                ${forms.formCheckBoxes_labelright("Requester when their case is archived", "email_alert_r_a", "email_alert_r_a", "email_alert_r_a", "form_label_right", "radio_input_long", checked=options.email_alert_req_case_archived)}

                <p style="clear:both; text-align:center"><input type="submit" value="Update alerts" /></p>
            </form>
            </div>

            <h1>Case Custom Text</h1>
            <div class="form_background">
            <p>Add some custom text to the top of the add/edit case pages, e.g. specific instructions to the case managers, or links to Wikis and other useful URLs.
                The text must be in HTML and start and end with an open/close paragraph (&lt;p&gt; & &lt;/p&gt;)</p>
             <form method="post" action="${urls.build('general.admin', dict(form='case_special_text', active_tab=3))|h}">
                 ${forms.formTextArea("Custom Text (HTML)", "custom_text_case", "custom_text_case", "form_label", "input_long", value=case_special_text, first=True, required=False)}
                <p style="clear:both; text-align:center"><input type="submit" value="Add Text" /></p>
            </form>
            </div>

            <h1>Case Types</h1>
            <div class="form_background">
            <h2>Remove Case Type</h2>
             <form method="post" action="${urls.build('general.admin', dict(form='remove_case_type', active_tab=3))|h}">
                 ${forms.formSelectBox("Case Types", "case_type", "case_type", "form_label", "input_long", case_types, please_select=True)}
                <p style="clear:both; text-align:center"><input type="submit" value="Remove" /></p>
            </form>
            </div>

            <div class="form_background">
            <h2>Add New Case Type</h2>
            <form method="post" action="${urls.build('general.admin', dict(form='add_case_type', active_tab=3))|h}">
                ${forms.formTextField("New Case Type", "new_case_type", "new_case_type", "form_label", "input_long", first=True)}
                <p style="clear:both; text-align:center"><input type="submit" value="Add" /></p>
            </form>
            </div>

            <h1>Case Classifications</h1>

            <div class="form_background">
            <h2>Remove Case Classification</h2>
            <form method="post" action="${urls.build('general.admin', dict(form='remove_classification', active_tab=3))|h}">
                ${forms.formSelectBox("Case Classification", "classification", "classification", "form_label", "input_long", classifications, please_select=True)}
                <p style="clear:both; text-align:center"><input type="submit" value="Remove" /></p>
            </form>
            </div>

            <div class="form_background">
            <h2>Add New Case Classification</h2>
            <form method="post" action="${urls.build('general.admin', dict(form='add_classification', active_tab=3))|h}">
                ${forms.formTextField("New Classification", "new_classification", "classification", "form_label", "input_long", first=True)}
                <p style="clear:both; text-align:center"><input type="submit" value="Add" /></p>
            </form>
            </div>

        </div>


        <div id="tabs-5" class="forensics_work_contents">

            <h2>Notes Export Formatting</h2>

            <p>Unavailable.</p>


        </div>

        <div id="tabs-6" class="forensics_work_contents">

            <div class="form_background">
            <h2>Validate Users</h2>

            % if validated is True:
                <div class="success">
                    <h1>Successfully validated user.</h1>
                    <p>Please remember to assign <a href='${urls.build("user.edit", dict(user_id=val_user.id, tab="edit_roles"))|h}'>${val_user.forename|h} at least one role</a>.</p>
                </div>
            % endif

            % if unvalidated_users:
            <table>
                <tr>
                    <th>Username</th> <th>Name</th> <th>Email address</th> <th>Validate</th>
                </tr>
                % for user in unvalidated_users:
                <tr>
                     <td><a href='${urls.build("user.view", dict(user_id=user.id))|h}'>${user.username|h}</a></td>
                     <td>${user.fullname|h}</td>
                     <td>${user.email|h}</td>
                     <td><a href='${urls.build("general.admin", dict(active_tab=5, validate_user=user.id))|h}'>Validate user</a></td>
                </tr>
                % endfor
            </table>
            % else:
                <p>There are no users that need validating.</p>
            % endif
            </div>

            <div class="form_background">
            <h2>Deactivate Users</h2>

            <p>Pick a user to deactivate their account. Users cannot be deleted, as case information is tied to them; but their accounts can be deactivated so that they can no longer log in.</p>
            <form method="post" action="${urls.build('general.admin', dict(form='deactiviate_user', active_tab=5))|h}">
                ${forms.formSelectBox("User to deactivate", "deactivate_user", "deactivate_user", "form_label", "input_long", users, please_select=True, first=True)}
                <p style="clear:both; text-align:center"><input type="submit" value="Deactivate" /></p>
            </form>
            </div>

            % if len(deactivated_users) > 0:
                <div class="form_background">
                <h2>Reactivate Users</h2>
                <form method="post" action="${urls.build('general.admin', dict(form='reactivate_user', active_tab=5))|h}">
                    ${forms.formSelectBox("User to reactivate", "reactivate_user", "reactivate_user", "form_label", "input_long", deactivated_users, please_select=True, first=True)}
                    <p style="clear:both; text-align:center"><input type="submit" value="Reactivate" /></p>
                </form>
                </div>
            % endif

        </div>

        <div id="tabs-7" class="forensics_work_contents">

            <h2>Current Case Priorities</h2>


            <table>
                <tr>
                    <th>Priority Name</th>
                    <th>Colour</th>
                    <th>Default?</th>
                </tr>
                 % for priority in all_priorities:
                 <tr>
                     <td>${priority.case_priority|h}</td>
                     <td style="background-color:${priority.colour|h}">&nbsp;</td>
                     <td>${priority.default|h}</td>
                 </tr>
                 % endfor
            </table>


            <div style="clear:both"></div>


            % if len(priorities) > 1:
            <div class="form_background">
            <h2>Remove Priority</h2>

            <form method="post" action="${urls.build('general.admin', dict(form='remove_priority', active_tab=6))|h}">
                ${forms.formSelectBox("Priority", "priority_remove", "priority_remove", "form_label", "input_long", priorities, please_select=True)}
                <p style="clear:both; text-align:center"><input type="submit" value="Remove" /></p>
            </form>
            </div>
            % endif

            <div class="form_background">
            <h2>Add New Priority</h2>

            <form method="post" action="${urls.build('general.admin', dict(form='add_priority', active_tab=6))|h}">
                ${forms.formTextField("Priority", "priority", "priority", "form_label", "input_long", first=True)}
                ${forms.formSelectBox("Set as default", "default", "default", "form_label", "input_long", [("yes", "Yes"),("no", "No")], please_select=True)}
                ${forms.formTextField("Colour", "colour", "colour", "form_label", "input_long")}
                <p style="clear:both; text-align:center"><input type="submit" value="Add" /></p>
            </form>
            </div>
        </div>

        <div id="tabs-8" class="forensics_work_contents">

            <div class="form_background">
            <h2>Managers</h2>
            <p>Choose whether managers of managers can see their direct reports, i.e. the head of department can see their team lead's direct report's timesheets & metrics.
                By default, only the users direct line manager can see timesheets and reports - not managers higher up the chain.</p>
            <form method="post" action="${urls.build('general.admin', dict(form='managers', active_tab=7))|h}">
                ${forms.formSelectBox("Managers inherit direct reports", "manager_inherit", "manager_inherit", "form_label", "input_long", manager_inherit_options, value=unicode(options.manager_inherit), first=True)}
                <p style="clear:both; text-align:center"><input type="submit" value="Submit" /></p>
            </form>

            </div>

            <div class="form_background">
            <h2>Authorisation Options</h2>
            <p>Choose if you would like authorisers to see details of the cases they have authorised, such as viewing the case tasks and evidence associated with the case.</p>

            <form method="post" action="${urls.build('general.admin', dict(form='authoriser_options', active_tab=7))|h}">
                ${forms.formSelectBox("Authorisers can view case tasks", "see_tasks", "see_tasks", "form_label", "input_long", authoriser_options, value=unicode(options.auth_view_tasks), first=True)}
                ${forms.formSelectBox("Authorisers can view case evidence", "see_evidence", "see_evidence", "form_label", "input_long", authoriser_options, value=unicode(options.auth_view_evidence))}
                <p style="clear:both; text-align:center"><input type="submit" value="Submit" /></p>
            </form>
            </div>

        </div>

    </div>

</div>