﻿<%inherit file="/base/base.html"/>
<%namespace file="/utils/sidebars.html" name="sidebars" />
<%namespace file="/utils/forms.html" name="forms" />
<%namespace file="/utils/format.html" name="format" />

<%def name="javascripts()" filter="trim">
    <link rel="StyleSheet" href="${urls.build('css', dict(file='jquery-ui-1.10.4.custom.css'))|h}" type="text/css" />
    <script src="${urls.build('javascript', dict(file='jquery-1.10.2.js'))|h}"></script>
    <script src="${urls.build('javascript', dict(file='jquery-ui-1.10.4.custom.min.js'))|h}"></script>
    <script>
        $(function() {
        $( "#tabs" ).tabs();
        $( "#tabs" ).tabs({ active: ${active_tab}});
        });
    </script>
</%def>


<div id="sidebar">
   ${sidebars.tasks_menu()}
</div>

<div id="mainbar">
    <h1>Edit Case ${case.case_name|h}</h1>
    <p><a href="${urls.build('case.view', dict(case_id=case.id))|h}">Back to Case</a>
     % if case.requester is None or current_user.id != case.requester.id:
        | <a href="${urls.build('case.add_task', dict(case_id=case.id))|h}">Add Tasks</a>
     % endif
    </p>

    ${case_special_text}

    <div id="tabs">
        <ul>
        <li><a href="#tabs-1">Edit Case Details</a></li>
        % if case.requester is None or current_user.id != case.requester.id:
            <li><a href="#tabs-2">Link With Other Cases</a></li>
            % if case.is_authorised:
                <li><a href="#tabs-3">Edit Case Managers</a></li>
                % if len(case.tasks) != 0:
                    <li><a href="#tabs-4">Edit & Reassign Tasks</a></li>
                % endif
            % endif
        % endif
        </ul>

        <div id="tabs-1" class="forensics_work_contents">

            <h2>Case History</h2>

            <table class="history">
                <tr>
                    <th class="history_date">Date</th>
                    <th class="history_user">User</th>
                    <th class="history_entry">Changes</th>
                </tr>
                % for history in case_history:
                <tr>
                    <td>${history['date']|h}</td>
                    <td><a href='${urls.build("user.view", dict(user_id=history['user'].id))|h}'>${history['user'].fullname|h}</a></td>
                    <td>
                        % if not isinstance(history['change_log'], basestring):
                        % for entry, change in history['change_log'].iteritems():
                            The <i>${entry|h}</i> changed from
                            <span class="change">${change[0]|h}</span>
                            to
                            <span class="change">${change[1]|h}</span>
                        % endfor
                        % else:
                            ${history['change_log']|h}
                        % endif
                    </td>
                </tr>
                % endfor
            </table>



            <h2>Edit Case Details</h2>

            <form method="post" action="${urls.build('case.edit', dict(case_id=case.id, form='edit_case'))|h}">
                <input type="hidden" name="edit_obj" id="edit_obj" value="${case.id|h}" />

                ${forms.formTextField("Case Name", "case_name", "case_name", "form_label", "input_long", first=True, value=case.case_name)}
                % if case.requester is not None and current_user.id == case.requester.id and case.authorised.case_authorised == "NOAUTH":
                    ${forms.formSelectBox("Authoriser", "authoriser", "authoriser", "form_label", "input_long", authorisers, value=case.authoriser.id)}
                    ${forms.formTextField("Case Files Location", "location", "location", "form_label", "input_long", value=case.location, required=False, hidden=True)}
                % elif case.requester is None and current_user.id == case.principle_case_manager.id and case.authorised.case_authorised == "NOAUTH":
                    ${forms.formSelectBox("Authoriser", "authoriser", "authoriser", "form_label", "input_long", authorisers, value=case.authoriser.id)}
                    ${forms.formTextField("Case Files Location", "location", "location", "form_label", "input_long", value=case.location, required=False)}
                % else:
                    ${forms.formSelectBox("Authoriser", "authoriser", "authoriser", "form_label", "input_long", authorisers, value=case.authoriser.id, hidden=True)}
                    ${forms.formTextField("Case Files Location", "location", "location", "form_label", "input_long", value=case.location, required=False)}
                % endif
                ${forms.formTextArea("Case Background", "background", "background", "form_label", "addeditcase", value=case.background)}
                ${forms.formTextArea("Case Justification", "justification", "justification", "form_label", "addeditcase_short", value=case.justification)}
                ${forms.formTextField("Reference", "reference", "reference", "form_label", "input_long", value=case.reference, required=False)}
                ${forms.formSelectBox("Classification", "classification", "classification", "form_label", "input_long", classifications, please_select=True, value=case.classification)}
                ${forms.formSelectBox("Priority", "priority", "priority", "form_label", "input_long", priorities, please_select=True, value=case.case_priority)}
                % if case.deadline:
                    ${forms.formTextField("Deadline", "deadline", "deadline", "form_label", "input_long", required=False, value=case.deadline.strftime("%d/%m/%y"))}
                % else:
                    ${forms.formTextField("Deadline", "deadline", "deadline", "form_label", "input_long", required=False, default="DD/MM/YYYY")}
                % endif
                ${forms.formSelectBox("Case Type", "case_type", "case_type", "form_label", "input_long", case_types, please_select=True, value=case.case_type)}
                ${forms.formCheckBoxes("Private", "private", "private", "private", "form_label", "radio_input_short", checked=case.private)}
                <p style="clear:both; text-align:center"><input type="submit" value="Submit" /></p>
            </form>

        </div>

        % if case.requester is None or current_user.id != case.requester.id:
        <div id="tabs-2" class="forensics_work_contents">

            <h2>Linked Cases</h2>

            <table class="history">
                    <tr>
                        <th width="100px">Case Name</th>
                        <th width="150px">Date</th>
                        <th width="150px">User</th>
                        <th width="300px">Reason</th>
                        <th width="150px">Link Addition / Removal</th>
                    </tr>
                % for link in case.linked:
                    <tr>
                        <td>
                            <a href="${urls.build('case.view', dict(case_id=link.case_linkees.id))|h}">${link.case_linkees.case_name|h}</a>
                        </td>
                        <td>
                            ${link.date|h}
                        </td>
                        <td>
                            <a href="${urls.build('user.view', dict(user_id=link.user.id))|h}">${link.user.fullname|h}</a>
                        </td>
                        <td>
                            ${link.reason|h}
                        </td>
                        <td>
                            % if link.removed:
                            Link removal.
                            % else:
                            Link addition.
                            % endif
                        </td>

                    </tr>
                % endfor
                % if len(case.linked) == 0:
                    <tr><td colspan="5">No Links</td></tr>
                % endif
            </table>

            <h2>Cases that have added a link to ${case.case_name|h}</h2>
            <table class="history">
                <tr>
                    <th width="100px">Case Name</th>
                    <th width="150px">Date</th>
                    <th width="150px">User</th>
                    <th width="300px">Reason</th>
                    <th width="150px">Link Addition / Removal</th>
                    <th width="100px">Bidirectional</th>
                </tr>
                % for link in case.linkees:
                    <tr>
                        <td>
                            <a href="${urls.build('case.view', dict(case_id=link.case_linkers.id))|h}">${link.case_linkers.case_name|h}</a>
                        </td>
                        <td>
                            ${link.date|h}
                        </td>
                        <td>
                            <a href="${urls.build('user.view', dict(user_id=link.user.id))|h}">${link.user.fullname|h}</a>
                        </td>
                        <td>
                            ${link.reason|h}
                        </td>
                        <td>
                            % if link.removed:
                            Link removal.
                            % else:
                            Link addition.
                            % endif
                        </td>
                        <td>
                            % if link.bidirectional(case, direction="linkee") is False:
                                No
                            % elif link.bidirectional(case, direction="linkee") is True:
                                Yes
                            % endif
                        </td>

                    </tr>
                % endfor
                % if len(case.linkees) == 0:
                    <tr><td colspan="6">No Links</td></tr>
                % endif
            </table>

            <h2>Add New Link</h2>
            <form method="post" action="${urls.build('case.edit', dict(case_id=case.id, form='add_link'))|h}">
                ${forms.formSelectBox("Select Case", "case_links_add", "case_links_add", "form_label", "input_long", case_link_options, first=True, please_select=True)}
                ${forms.formTextField("Reason for Link", "reason_add", "reason_add", "form_label", "input_long")}
                <p style="clear:both; text-align:center"><input type="submit" value="Submit" /></p>
            </form>

            <br/>
            <h2>Remove Link</h2>
            <form method="post" action="${urls.build('case.edit', dict(case_id=case.id, form='remove_link'))|h}">
                ${forms.formSelectBox("Select Case", "case_links", "case_links", "form_label", "input_long", case_link_remove_options, first=True, please_select=True)}
                ${forms.formTextField("Reason for Link Removal", "reason", "reason", "form_label", "input_long")}
                <p style="clear:both; text-align:center"><input type="submit" value="Submit" /></p>
            </form>
         </div>

        % if case.is_authorised:
        <div id="tabs-3" class="forensics_work_contents">

            % if case_manager_history:
            <h2>Case Manager History</h2>

            <table class="history">
                <tr>
                    <th>Date</th>
                    <th>User</th>
                    <th>Changes</th>
                </tr>
                % for history in case_manager_history:
                <tr>
                    <td>${history['date']|h}</td>
                    <td><a href='${urls.build("user.view", dict(user_id=history['user'].id))|h}'>${history['user'].fullname|h}</a></td>
                    <td>
                        % for entry, change in history['change_log'].iteritems():
                            % if change[0] == "ADD":
                            The ${entry|h} was assigned to ${change[1]|h} <br/>
                            % elif change[0] == "DEL":
                            ${change[1]|h} was removed from ${entry|h}<br/>
                            % else:
                            The <i>${entry|h}</i> changed from
                                <span class="change">${change[0]|h}</span> to
                                <span class="change">${change[1]|h}</span><br/>
                            % endif
                        % endfor
                    </td>
                </tr>
                % endfor
            </table>
            % endif

            <h2>Edit Case Managers</h2>
            % if email_alert_flag:
                <p>Note: The requester will be automatically emailed when a case manager is assigned to their case.</p>
            % endif
            <form method="post" action="${urls.build('case.edit', dict(case_id=case.id, form='edit_case_managers'))|h}">
                ${forms.formSelectBox("Principle Case Manager", "primary_case_manager", "primary_case_manager", "form_label", "input_long", managers, first=True, please_select=True, value=principle_man, required=False)}
                ${forms.formSelectBox("Secondary Case Manager", "secondary_case_manager", "secondary_case_manager", "form_label", "input_long", managers, please_select=True, value=secondary_man, required=False)}

                <p style="clear:both; text-align:center"><input type="submit" value="Submit" /></p>
            </form>
         </div>

            % if len(case.tasks) != 0:
            <div id="tabs-4" class="forensics_work_contents">

                <h2>Current Tasks</h2>

                <p>Click on the task name to edit the task.</p>

                ${format.task_table(case.tasks, edit=True)}

                <h2>Remove Task and Assign to Another Case</h2>

                <form method="post" action="${urls.build('case.edit', dict(case_id=case.id, form='reassign_tasks'))|h}">
                    ${forms.formSelectBox("Task", "task_reassign", "task_reassign", "form_label", "input_long", reassign_tasks, first=True, please_select=True)}
                    ${forms.formSelectBox("Reassign to Case", "case_reassign", "case_reassign", "form_label", "input_long", reassign_cases, please_select=True)}
                    <p style="clear:both; text-align:center"><input type="submit" value="Submit" /></p>
                </form>

             </div>
            % endif
        % endif
    % endif
    </div>
</div>