﻿<%inherit file="/base/base.html"/>
<%namespace file="/utils/sidebars.html" name="sidebars" />
<%namespace file="/utils/format.html" name="formatting" />

<%def name="javascripts()" filter="trim">
</%def>


<div id="sidebar">
    ${sidebars.tasks_menu()}
</div>
<div id="mainbar">
    <h1>Case ${case.case_name|h}</h1>

    <p>
        % if check_perms(case, 'authorise') and (case.authorised is None or case.authorised.case_authorised == "PENDING"):
            <a href='${urls.build("case.authorise", dict(case_id=case.id))|h}'>Authorise/reject this case</a>
        % endif
        % if check_perms(case, 'edit'):
            % if case.requester and current_user.id == case.requester.id and (case.authorised is not None and case.authorised.case_authorised == "NOAUTH"):
            <a href='${urls.build("case.edit", dict(case_id=case.id))|h}'>Edit the case to retry for authorisation</a>
            % elif case.requester is None and current_user.id == case.principle_case_manager.id and (case.authorised is not None and case.authorised.case_authorised == "NOAUTH"):
            <a href='${urls.build("case.edit", dict(case_id=case.id))|h}'>Edit the case to retry for authorisation</a>
            % else:
            <a href='${urls.build("case.edit", dict(case_id=case.id))|h}'>Edit</a>
            % endif
        % endif
        % if check_perms(case, 'edit'):
            % if case.status == case_statuses['created'] and (case.requester is None or current_user.id != case.requester.id):
                | <a href='${urls.build("case.change_status", dict(case_id=case.id, status=case_statuses["open"]))|h}'>Open this Case for Investigation</a>
            % elif case.status == case_statuses['open']:
                | <a href='${urls.build("case.close", dict(case_id=case.id))|h}'>Close this Case</a>
            % elif case.status == case_statuses['closed']:
                | <a href='${urls.build("case.change_status", dict(case_id=case.id, status=case_statuses["open"]))|h}'>Reopen this Case</a>
                % if case.requester is None or current_user.id != case.requester.id:
                | <a href='${urls.build("case.change_status", dict(case_id=case.id, status=case_statuses["archived"]))|h}'>Archive this Case</a>
                % endif
            % endif
        % endif

        % if check_perms(case, "report"):
            % if check_perms(case, 'edit'):
                |
            % endif
            <a href="${urls.build("export.report", dict(case_id=case.id))|h}" target='_blank'>Generate HTML case report</a> |
            <a href="${urls.build("export.case_report_rtf", dict(case_id=case.id))|h}">Generate RTF case report</a>
        % endif

    </p>

    <h2>Case Background</h2>

    <h3>Background information</h3>
    <div class="case_background">${case.background}</div>

    <h3>Case Justification</h3>
    <div class="case_background">${case.justification}</div>

    ${formatting.case_details()}


    % if case.status != case_statuses['rejected'] and case.status != case_statuses['pending']:
        <h2>Tasks</h2>

        <p>
        % if check_perms(case, 'add-task'):
        <a href='${urls.build("case.add_task", dict(case_id=case.id))|h}'>Add Task</a>
        % endif
        % if check_perms(case, 'can-assign') and all_tasks_created:
        | <a href='${urls.build("case.change_task_statuses", dict(case_id=case.id, status=task_statuses["queued"]))|h}'>Set all tasks to Queued</a></p>
        % endif
        </p>

        ${formatting.task_table(case.tasks, show_qa=True)}

        <h2>Evidence</h2>
        % if check_perms(case, 'add-evidence'):
        <p><a href='${urls.build("evidence.add", dict(case_id=case.id))|h}'>Add Evidence</a></p>
        % endif

        % if len(case.evidence) > 0:
            <ol>
            % for evidence in case.evidence:

                <li>
                    % if check_perms(evidence, "view"):
                    <a href='${urls.build("evidence.view", dict(evidence_id=evidence.id, case_id=case.id))|h}'>${evidence.reference|h}</a>
                    % else:
                    ${evidence.reference|h}
                    % endif
                </li>
            % endfor
            </ol>
        % else:
            <p>No Evidence has been added.</p>
        % endif
    % endif
</div>